*, *::after, *::before {
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */
:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;  
  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
 

 --fs-h1: 4.5rem;
 --fs-h2: 3.5rem;
 --fs-h3: 2.7rem;
 --fs-body: 2rem;

 --bs: 0.25em .25em 0.75em rgba(0,0,0,.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 6rem;
    --fs-h2: 4.5rem;
    --fs-h3: 3rem;
    --fs-body: 2.4rem;
  }
}

html {
  font-size: 62.5%;
  background: var(--color-primary);  
}

header {
  background: var(--color-primary);
}

/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body); 
  color: var(--color-secondary);
  line-height: 1.6;
  margin: 0;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

strong {
font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 2px;
}

/*Buttons*/
.btn {
  display: inline-block;
  padding: 1em 4.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/*Typography*/
h1, h2, h3 {
  margin: 0;  
  line-height: 1;
}

h1 {
  font-size: var(--fs-h1);  
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}

.attention {
  background: var(--clr-accent);
  text-align: center;
  font-weight: var(--fw-bold);
}

.section__title { 
  margin-bottom: .2em;
}

.section__title--intro {
  font-weight: var(--fw-reg) ;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background-color: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  margin-left: 10px;
  padding: .25em 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold); 
  margin-bottom: 1.5em; 
}


/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 0;  
}

.logo {
  max-width: 300px;   
}

.nav {  
  position: fixed;  
  background: var(--clr-accent);
  color: var(--clr-dark);
  /*The next steps mean that the nav will take the space of entire screen*/
  top: 0;
  bottom: 0;
  left: 80%;
  right: 0;
  z-index: 100;  
  transform: translate(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {  
  display: flex; 
  text-align: right;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 3em;
  padding-right: 2em;
  
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: 2rem;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .nav__link {
    font-size: var(--fs-h3);  
  }

  .nav__list {
    line-height: 1.5;
  }
}

@media screen and (max-width: 1000px) {
  .nav {  
    position: fixed;  
    background: var(--clr-accent);
    color: var(--clr-dark);
    /*The next steps mean that the nav will take the space of entire screen*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;  
    transform: translate(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
  }

  .nav__list {  
    display: flex; 
    text-align: center;
    flex-direction: column;
    line-height: 4;
  }
}

.nav__link:hover {
  color: #fff;  
}

.nav-toggle {
  padding: 1em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.hamburger { 
  display: block;
  position: relative;
}  

.nav-open .nav {
  transform: translate(0);
}

.nav-open .nav-toggle {
  position: fixed;  
  background: var(--clr-accent);
}

.nav-open .hamburger {
  transform: rotate(.625turn);
  
}

.nav-open .hamburger::after {
  opacity: 0;  
  margin: 0;
}

.nav-open .hamburger::before  {
  transform: rotate(90deg) translate(-6px);  
  margin: 0;
}

.hamburger,
.hamburger::after,
.hamburger::before {
  background: var(--clr-dark);
  width: 2em;
  height: 3px;  
  border-radius: 1em;  
  transition: transform 250ms ease-in-out;
}

.hamburger::after,
.hamburger::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;  
  margin-top: .3rem;
  margin-bottom: .3rem;
}

.hamburger::before { top: 6px;}
.hamburger::after { bottom: 6px;}

/*Intro section*/
.intro {
  position: relative;  
}

.intro__img {
  list-style: none;
  box-shadow: var(--bs);
  max-height: 300px;  
}

@media screen and (min-width: 600px) {
  .intro {
    display: grid;
    grid-column-gap: 1em;
    width: min-content;
    margin: 0 auto;
    grid-template-areas: "img title" "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 300px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
    text-transform: uppercase ;
  }
}

/*  My services section  */
.my-services {
  background-color:rgb(19, 32, 32);
  background-image: url(../images/services-gb1.png);
  background-size: cover;  
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

.section__title--services::after {
  content: '';
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.5;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

.services {
  margin-bottom: 4em;
}

@media screen and (min-width: 768px) {
  .services {
    display: flex;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}




.list {
  list-style-type: none;
}

.icon {
  width: 40px;
  height: 40px;
}

/*About me*/
.about-me {
  display: grid;
  max-width: 1240px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

@media screen and (min-width: 780px) {
  .about-me {    
    grid-template-columns: 1fr 200px;
    grid-template-areas: 
    "title img"
    "subtitle img"
    "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
    width: calc(100% + 1.5em);
  }

  .section__subtitle--about {
    grid-column: 1/ -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 3em);
  }

  .about-me__img {
    grid-area: img;
    z-index: 2;
    position: relative;
  }
}

/*My Work*/
.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;  
}

.portfolio {
  display: grid;
  max-width: 1240px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
}

.portfolio__item {
  background: var(--clr-accent);
  overflow: hidden;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
  opacity 250ms linear;
}

.portfolio__img:hover {
  transform: scale(1.2);
  opacity: .5;
}

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {  
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .75;
}

.social-list {
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}

.social-list__link {
  padding: .5em;
}

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width:800px;
  margin-left: auto;
  margin-right: auto;
}

