$ff-primary: 'Source Sans Pro', sans-serif;
$ff-secondary: 'Source Code Pro', monospace;
$fw-reg: 300;
$fw-bold: 900;
$text-light: #fff;
$clr-light: #f7e1d7;
$clr-dark: #b0c4b1;
$clr-accent: #4a5759;
$clr-accent__second: #aec5eb;
$clr-accent__third: #4a5759;
$text-dark: #4a5759;
$fs-body: 1rem;
$fs-h1: $fs-body * 3;
$fs-h2: $fs-body * 2.25;
$fs-h3: $fs-body * 1.25;
$bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
     0.125em 0.125em 0.25em rgba(0,0,0,.15);
$btn-bs: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);



$intro-height: 200px;
$intro-width: min-content;

