
// variables & functions
@import 'variables';


// base & layout
@import 'base';
@import 'breakpoints';
@import 'grid';


// colors


// components (button, card, navbar etc)

// utilities (margin, padding, opacity, etc)


@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

/* endable this to add smooth scrolling */
/* html {
    scroll-behavior: smooth;
} */





