<section class="block">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Lorem ipsum dolor sit amet.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae
        facere sunt ratione obcaecati facilis itaque.
      </p>
    </header>
  </div>
</section>
<section class="block block--grey block--skewed-right">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Lorem ipsum dolor sit amet.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae facere
        sunt ratione obcaecati facilis itaque.
      </p>
    </header>
  </div>
</section>
<section class="block block--black block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Lorem ipsum dolor sit amet.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae facere
        sunt ratione obcaecati facilis itaque.
      </p>
          </section>
    </header>
  </div>