<header>
  <nav class="nav collapsible">
    <a class="nav__logo" href="https://placeholder.com">
      <img src="https://via.placeholder.com/200x100" alt="logo" />
    </a>
    <svg class="icon">
      <use xlink:href="icons/sprite.svg#icons8-menu"></use>
    </svg>
    <ul class="list nav__list nav__toggle collapsible__content">
      <li class="nav__item"><a href="#">Home</a></li>
      <li class="nav__item"><a href="#">About</a></li>
      <li class="nav__item"><a href="#">Contact</a></li>
      <li class="nav__item"><a href="#">Projects</a></li>
    </ul>
  </nav>
</header>
